{% for tool in toolbox %}

<h2 id="{{tool.id}}_section">{{tool.name}}</h2>
<div class="container grid">
<div class="g-col-2 toolbox" style="text-align:center;">
<div class="tool-container">
<div class="tool-wrapper">
<div class="tool-tooltip-text">{{tool.name}}</div>
<div id="{{tool.id}}" class="tool">
{% assign icon_info = tool.icon %}
{% assign count = icon_info | size %}
{%- if count == 1 -%}
<img class="tool-icon" height="100%" src="{{ icon_info }}"/>
{%- else -%}
{%- for i in tool.icon -%}
<img class="tool-icon" height="{{ 150 | divided_by: count }}%" src="{{ i }}"/>
{%- endfor -%}
{%- endif -%}
</div>
</div>
</div>
</div>
<div class="g-col-1"></div>
<div class="g-col-7">
{{tool.description}}
<div class="col-xs-12" style="height:30px;"></div>
<script>tool_table("{{tool.id}}")</script>
</div>
<div class="g-col-1" style="text-align:center;">
</div>
</div>
<div class="col-xs-12" style="height:30px;"></div>

{% endfor %}
