@import url('https://fonts.googleapis.com/css2?family=Mukta:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* General */
body {
  font-weight: 300;
  font-size: 16px;
}

a {
  text-decoration: none;
}

h1 {
  color: steelblue !important;
  font-size: 3em;
  font-weight: 400 !important;
}

/* Styling of phylogenetic tree */
.phylotree-node-text {
  fill: black;
  opacity: 60%;
  font-family: "Mukta";
  font-weight: 300;
  font-size: 20px!important;
}

.phylotree-node-text-inactive {
  fill: black;
  opacity: 20%;
  font-family: "Mukta";
  font-weight: 300;
  font-size: 20px!important;
}

.phylotree-node-text-hl {
  fill: black;
  font-family: "Mukta";
  font-weight: 500;
  font-size: 20px!important;
}

svg .branch {
  stroke: #3A7598 !important;
  opacity: 80%;
  stroke-width: 6px;
  stroke-linejoin: round;
  stroke-linecap: round;
  animation: draw-stroke 12s linear forwards;
}

@keyframes draw-stroke {
  0% {
    stroke-dashoffset: 1;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

svg .branch-tracer {
  stroke: black !important;
  opacity: 20%;
  stroke-width: 4px;
  stroke-linecap: round;
}

svg .branch:hover {
  stroke-width: 0px;
}


svg .internal-node circle {
  fill: black;
  stroke-width:0px;
}

/* Toolbox */

/* tool-wrapper contains tool and tooltip */
.tool-wrapper {
  display: inline-block;
}

.tool-tooltip-text {
  display: none;
  position: absolute;
  text-align: center;
  font-weight: 500;
  padding: 70px 10px;
  width: var(--s);
  margin: var(--m);
  height: calc(var(--s) * 1.1547);
  font-size:initial;
  color: white;
  z-index: 2;

}

.tool {
  background: linear-gradient(to right top, #0F1B37, #142552); 
  color: white;
  opacity:40%;
  text-align:center;
  padding: 40px 0;
  font-weight:500;
  animation: fadeOut 1s linear forwards;
  vertical-align: middle;
}

.tool-wrapper:hover .tool-tooltip-text {
  display: inline
}

.tool-wrapper:hover .tool-icon {
  opacity: 20%;
}

.tool .tool-icon {
  max-height: 100%;
  vertical-align: middle;
}

@keyframes fadeOut {
  0% { opacity: 100%; }
  100% { visibility: 40%; }
}

.tool-selected {
  opacity:100%;
  animation: fadeIn 1s linear forwards;
}

.tool-wrapper:hover .tool-tooltip-text {
  display: inline
}

.tool-wrapper:hover .tool-icon {
  opacity: 20%;
}

@keyframes fadeIn {
  0% { opacity: 40%; }
  100% { visibility: 100%; }
}

.tool-header {
  border: none;
  font-size: 1.7em;
}

/* Virus information */
#name {
  font-weight: 500;
  font-size: 20pt;
}

/* Tabset styling, nested */
.panel-tabset {
  background-color: rgb(241, 243, 245);
}
.panel-tabset .panel-tabset {
  background-color: white;
}

/* Toolbox */

/* Hexagons nicely layed out in a containing div */
/* Derived from https://css-tricks.com/hexagons-and-beyond-flexible-responsive-grid-patterns-sans-media-queries/ */
.toolbox {
  display:flex;
  --s: 140px;  /* size  */
  --m: 4px;    /* margin */
  --f: calc(var(--s) * 1.732 + 4 * var(--m) - 1px); 
}

.tool-container {
  font-size: 0; /* disable white space between inline block element */
}

.tool-container div .tool {
  width: var(--s);
  margin: var(--m);
  height: calc(var(--s) * 1.1547);
  display: inline-block;
  font-size:initial;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  margin-bottom: calc(var(--m) - var(--s) * 0.2885);
}

.tool-container::before {
  content: "";
  width: calc(var(--s) / 2 + var(--m));
  float: left;
  height: 120%; 
  shape-outside: repeating-linear-gradient(#0000 0 calc(var(--f) - 3px), #000 0 var(--f));
}
