@import url('https://fonts.googleapis.com/css2?family=Mukta:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* General */
body {
  font-weight: 400;
  font-size: 16px;
  font-family: "Mukta";
}

a {
  text-decoration: none;
  color: rgba(8, 41, 76, 0.71);
  font-weight: 600;
}

a:hover {
  text-decoration: none;
  color: rgba(8, 41, 76, 0.71);
  opacity: 70%;
}

/* Give the name of the virus a fixed box size to avoid flickering */
#info-container #name {
  height: 1.5em;
  overflow: hidden;
}

/* a element in tabset navigation */
.nav-link {
  color: rgba(8, 41, 76, 0.71) !important;
}

/* Trick from http://kostas.krevatas.net/css-style-based-on-the-number-of-children-or-siblings/ */

/* one item */
li.nav-item:first-child:nth-last-child(1) {
	width: 100%;
}
 
/* two items */
li.nav-item:first-child:nth-last-child(2),
li.nav-item:first-child:nth-last-child(2) ~ li.nav-item {
	width: 50%;
}
 
/* three items */
li.nav-item:first-child:nth-last-child(3),
li.nav-item:first-child:nth-last-child(3) ~ li.nav-item {
	width: 33.3333%;
}
 
/* four items */
li.nav-item:first-child:nth-last-child(4),
li.nav-item:first-child:nth-last-child(4) ~ li.nav-item {
	width: 25%;
}

/* five items */
li.nav-item:first-child:nth-last-child(5),
li.nav-item:first-child:nth-last-child(5) ~ li.nav-item {
	width: 20%;
}

/* six items */
li.nav-item:first-child:nth-last-child(6),
li.nav-item:first-child:nth-last-child(6) ~ li.nav-item {
	width: 16.66%;
}

/* seven items */
li.nav-item:first-child:nth-last-child(7),
li.nav-item:first-child:nth-last-child(7) ~ li.nav-item {
	width: 14.28%;
}

/* eight items */
li.nav-item:first-child:nth-last-child(8),
li.nav-item:first-child:nth-last-child(8) ~ li.nav-item {
	width: 12.5%;
}

/* eight items */
li.nav-item:first-child:nth-last-child(9),
li.nav-item:first-child:nth-last-child(9) ~ li.nav-item {
	width: 11.11%;
}

/* default settings for tabs */
.nav-item {
  max-width: 33%;
  overflow: hidden;
  /* overflow-x: scroll; */
  /* overflow-y: clip; */
  white-space: nowrap;
  text-align: center;
  border: 1px groove white;
}

/* Make sure no additional scroll bars appear */
.cell-output {
  overflow: hidden;
}

.page-link {
  background-color: rgba(8, 41, 76, 0.71) !important;
  color: white !important;
  opacity: 60%;
}

h1 {
  color: #3A7598 !important; /* steelblue !important; */
  font-size: 3em;
  font-weight: 400 !important;
}

/* Styling of phylogenetic tree */
.phylotree-node-text {
  fill: #0F1B37;
  opacity: 60%;
  font-family: "Mukta";
  font-weight: 300;
  font-size: 20px!important;
}

.phylotree-node-text-inactive {
  fill: #0F1B37;
  opacity: 20%;
  font-family: "Mukta";
  font-weight: 300;
  font-size: 20px!important;
}

.phylotree-node-text-selected {
  font-family: "Mukta";
  font-weight: 500;
  font-size: 20px!important;
  filter: drop-shadow(yellow 0.5rem 0.5rem 1rem); 
}

.phylotree-node-text-hl {
  fill: #0F1B37;
  font-family: "Mukta";
  font-weight: 500;
  font-size: 20px!important;
}

svg .branch, .branch:hover {
  stroke: #3A7598 !important;
  opacity: 100%;
  stroke-width: 5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  animation: draw-stroke 12s linear forwards;
}

@keyframes draw-stroke {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

svg .branch:hover {
  stroke-width: 5px;
}

svg .branch-tracer {
  stroke: #3A7598 !important;
  opacity: 80%;
  stroke-width: 2px;
  stroke-linecap: round;
}

svg .internal-node circle {
  fill: white;
  r: 0px;
  stroke-width:1px;
  stroke: #3A7598 !important;
}

svg .internal-node circle:hover {
  fill: white;
  stroke-width:1px;
  stroke: #3A7598 !important;
}

/* Main container and contents */
.left-right-container {
  display: flex;
  padding: 0 0;
  vertical-align: middle;
}

.phylo-container {
  display: flex;
  padding: 0 0;
  vertical-align: middle;
}

#tree-container {
  height: 500px;
}

#jumbotron-container {
  height: 450px;
  padding: 30px;
}

.left {
  width: calc(100% - 370px);
  /* background-color: #759ac9; */
}

.right {
  width: 370px;
}

/* Tables in toolbox page require extra styling */
table {
  color: var(--bs-body-color) !important;
}

/* Make the toolbox dissapear on small screens */
/* @media (max-width: 800px) { */
/*   div#annotation-container { */
/*     display: none;  */
/*   }  */
/* } */

/* Toolbox */
/* tool-wrapper contains tool and tooltip */
.tool-wrapper {
  display: inline-block;
  filter: 
    drop-shadow(-0px -0px 1px #0F1B37)
    drop-shadow(0px 0px 1px #0F1B37)
    drop-shadow(0px -0px 1px #0F1B37) 
    drop-shadow(-0px 0px 1px #0F1B37);
}

.tool-tooltip-text {
  display: none;
  position: absolute;
  text-align: center;
  font-weight: 500;
  padding: 70px 10px;
  width: var(--s);
  margin: var(--m);
  height: calc(var(--s) * 1.1547);
  font-size:initial;
  color: white;
  z-index: 2;
}

.tool {
  background: #9095A8; /*linear-gradient(to right top, #0F1B37, #142552); */
  color: white;
  /* opacity:40%; */
  text-align:center;
  padding: 40px 0;
  font-weight:500;
  animation: fadeOut 1s linear forwards;
  vertical-align: middle;
  z-index: 2;
}

.tool-wrapper:hover .tool-tooltip-text {
  display: inline;
}

.tool-wrapper:hover .tool-icon {
  opacity: 20%;
}

.tool .tool-icon {
  max-height: 100%;
  vertical-align: middle;
}

@keyframes fadeOut {
  0% { opacity: 100%; }
  100% { visibility: 40%; }
}

.tool-selected {
  background-color: #0F1B37;
  opacity:100%;
  animation: fadeIn 1s linear forwards;
}

.tool-wrapper:hover .tool-tooltip-text {
  display: inline
}

.tool-wrapper:hover .tool-icon {
  opacity: 20%;
}

@keyframes fadeIn {
  0% { opacity: 40%; }
  100% { visibility: 100%; }
}

.tool-header {
  border: none;
  font-size: 1.7em;
}

/* Virus information */
#name {
  font-weight: 500;
  font-size: 20pt;
}

/* Tabset styling, nested */
.panel-tabset {
  background-color: rgb(241, 243, 245);
}
.panel-tabset .panel-tabset {
  background-color: white;
}

/* Toolbox */

/* Hexagons nicely layed out in a containing div */
/* Derived from https://css-tricks.com/hexagons-and-beyond-flexible-responsive-grid-patterns-sans-media-queries/ */
.toolbox {
  display:flex;
  --s: 140px;  /* size  */
  --m: 4px;    /* margin */
  --f: calc(var(--s) * 1.732 + 4 * var(--m) - 1px);
}

.tool-container {
  font-size: 0; /* disable white space between inline block element */
}

.tool-container div .tool {
  width: var(--s);
  margin: var(--m);
  height: calc(var(--s) * 1.1547);
  display: inline-block;
  font-size: initial;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  margin-bottom: calc(var(--m) - var(--s) * 0.2885);
}

.tool-container::before {
  content: "";
  width: calc(var(--s) / 2 + var(--m));
  float: left;
  height: 120%; 
  shape-outside: repeating-linear-gradient(#0000 0 calc(var(--f) - 3px), #000 0 var(--f));
}

/* Virus pages */
/* .temp:empty { */
/*   width: 90%; */
/*   margin: auto; */
/*   padding: 10px; */
/*   border: 1px solid #9095A8; */
/*   background: yellow !important; */
/* } */

/* Virus pages */
.blank {
  display: none;
}

.virus-figure {
  width: 80%;
  margin: auto;
  padding: 20px;
  /* border: 1px solid #9095A8; */
}

/* Add an indicator that text can be found below the figure */
/* .virus-figure::before { */
/*   font-weight: 300; */
/*   font-size: 1em; */
/*   float: right; */
/*   vertical-align: top; */
/*   color: #9095A8; */
/*   content: "▼"; */
/* } */

.virus-toolbox {
  font-weight: 500;
  font-size: 1.2em;
  width: 80%;
  margin: auto;
  text-align: left;
  padding: 30px 10px 10px 10px;
}

.virus-text {
  font-weight: 400;
  font-size: 1.2em;
  width: 80%;
  margin: auto;
  text-align: left;
  border-top: 2px solid #9095A8;
  /* border-left: 1px solid #9095A8; */
  /* border-right: 1px solid #9095A8; */
  border-bottom: 2px solid #9095A8;
  padding: 20px;
}
