@import url('https://fonts.googleapis.com/css2?family=Mukta:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-weight: 300;
}

a {
  text-decoration: none;
}

h1 {
  color: steelblue !important;
  font-size: 3em;
  font-weight: 400 !important;
}

.phylotree-node-text {
  fill: black;
  opacity: 20%;
  font-family: "Mukta";
  font-weight: 300;
  font-size: 20px!important;
}

.phylotree-node-text-inactive {
  fill: black;
  opacity: 60%;
  font-family: "Mukta";
  font-weight: 300;
  font-size: 20px!important;
}

.phylotree-node-text-hl {
  fill: black;
  font-family: "Mukta";
  font-weight: 500;
  font-size: 20px!important;
}

svg .branch {
  stroke: #3A7598 !important;
  opacity: 80%;
  stroke-width: 8px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-dasharray: 600px;
  stroke-dashoffset: 600px;
  animation: draw-stroke 2s linear forwards;
}

@keyframes draw-stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

svg .branch-tracer {
  stroke: black !important;
  opacity: 20%;
  stroke-width: 4px;
  stroke-linecap: round;
}

svg .internal-node circle {
  fill: black;
  stroke-width:0px;
}
